.reservation-card {
    width: 450px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #111D1D;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #0003;
    margin: 100px 0px -20px;
}

.reservation-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}

.card-item {
    color: #F8FAFF;
    margin: 20px 10px 5px;
    font-size: 1.1rem;
}

.btn-delete {
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Sahitya Bold';
    font-size: 1.2rem;
    color: #F8FAFF;
    background-color: #DE4B44;
    border: none;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #9F2B25;
    transition: .3s;
}