* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Sahitya';
  src: url('./assets/fonts/Sahitya/Sahitya-Regular.ttf');
}

@font-face {
  font-family: 'Sahitya Bold';
  src: url('./assets/fonts/Sahitya/Sahitya-Bold.ttf');
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}